#development data files NOT ignored
cargarregistros/*.csv
cargarsintomas/*.csv

# production data files NOT ignored
!out/production/MonitorCovid/cargarregistros/registros.csv
!out/production/MonitorCovid/cargarsintomas/sintomas.csv

out/
