# production data files NOT ignored
#cargarregistros/*.csv
#cargarsintomas/*.csv

#development data files NOT ignored
#!out/production/MonitorCovid/cargarsintomas/sintomas.csv
#!out/production/MonitorCovid/cargarregistros/registros.csv
#!out/

# test functionalities
src/pruebas.java
src/sintomas/EsteNo.java
src/sintomas/EsteSi.java

#compress
*.zip

# csv data
*.csv
